{% load compress %}
{% load staticfiles %}
{% compress js %}

<script type='text/javascript' src="{% static 'js/src/algorithms.js' %}"></script>
<script type='text/javascript' src="{% static 'js/src/collection.js' %}"></script>
<script type='text/javascript' src="{% static 'js/src/data.js' %}"></script>
<script type='text/javascript' src="{% static 'js/src/deps.js' %}"></script>
<script type='text/javascript' src="{% static 'js/src/deps.js' %}"></script>
<script type='text/javascript' src="{% static 'js/src/ee.js' %}"></script>
<script type='text/javascript' src="{% static 'js/src/feature.js' %}"></script>
<script type='text/javascript' src="{% static 'js/src/featurecollection.js' %}"></script>
<script type='text/javascript' src="{% static 'js/src/filter.js' %}"></script>
<script type='text/javascript' src="{% static 'js/src/image.js' %}"></script>
<script type='text/javascript' src="{% static 'js/src/imagecollection.js' %}"></script>
<script type='text/javascript' src="{% static 'js/src/serializer.js' %}"></script>




{% endcompress %}